html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

body {
  margin: 0;
}

main {
  display: block;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

button,
input {
  /* 1 */
  overflow: visible;
}

button,
select {
  /* 1 */
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

:root {
  --wrapper-width: 1920px;
  --container-width: 1240px;
  --font-default: Inter, sans-serif;
  --bg-body: #f2f2f2;
  --main-color: #1a1a1a;
  --text-color: #333;
  --title-color: #1a1a1a;
  --text-gray: #979797;
  --dark-800: #1a1a1a;
  --dark-700: #333333;
  --dark-600: #4d4d4d;
  --dark-500: #666666;
  --gray-500: #979797;
  --gray-400: #b3b3b3;
  --gray-300: #cccccc;
  --gray-200: #e6e6e6;
  --gray-100: #f2f2f2;
  --blue-color: #e6f2fe;
  --purple-color: #e5def0;
  --green-color: #d6edd9;
  --yellow-color: #f6f0d8;
}

/* ------------------- Default -------------------- */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
*::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  min-width: 320px;
  background: #f2f2f2;
  color: var(--dark-700);
  font-family: var(--font-default);
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.page__body--white {
  background: #fff;
}

.page__wrapper {
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.page__main {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.footer {
  margin-top: auto;
}

.container {
  width: 100%;
  max-width: var(--container-width);
  margin: 0 auto;
  padding: 0 24px;
}
@media (max-width: 599px) {
  .container {
    padding: 0 16px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--dark-800);
}

.title-big,
.title-1,
.title-2,
.title-3,
.title-4,
.title-5,
.title-6 {
  color: var(--dark-800);
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

a {
  cursor: pointer;
  font-size: inherit;
  color: inherit;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
a:hover {
  text-decoration: none;
}

input,
button,
textarea,
select {
  font-family: var(--font-default);
}

button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  background-color: none;
  font-size: inherit;
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
  font-size: inherit;
  color: var(--dark--700);
}
input::-webkit-input-placeholder {
  color: #666;
}
input::-moz-placeholder {
  color: #666;
}
input:-ms-input-placeholder {
  color: #666;
}
input::-ms-input-placeholder {
  color: #666;
}
input::placeholder {
  color: #666;
}

strong {
  font-weight: bold;
  font-weight: 700;
}

.list-reset {
  list-style: none;
}

.text-center {
  text-align: center;
}

@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.text-grad {
  display: inline-block;
  background: -o-linear-gradient(335deg, #f5c05a 16.34%, #eb88b1 43.03%, #6cafff 59.19%);
  background: linear-gradient(115deg, #f5c05a 16.34%, #eb88b1 43.03%, #6cafff 59.19%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.is-hidden {
  display: none !important;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* ------------------- Typography -------------------- */
.title-big {
  font-size: 64px;
  font-weight: 700;
  line-height: 1.2;
}

.title-1 {
  font-size: 48px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.02em;
}

.title-2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.02em;
}

.title-3 {
  font-size: 28px;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -0.02em;
}

.title-4 {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.2;
}

.title-5 {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
}

.title-6 {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.2;
}

.title-7 {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.2;
}

.title-8 {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.2;
}

.text-18 {
  font-size: 18px;
  font-weight: 400;
}

.text-16 {
  font-size: 16px;
  font-weight: 400;
}

.text-14 {
  font-size: 14px;
  font-weight: 400;
}

.text-12 {
  font-size: 12px;
  font-weight: 400;
}

.link-18 {
  font-size: 18px;
  font-weight: 400;
}

.link-16 {
  font-size: 16px;
  font-weight: 400;
}

.link-14 {
  font-size: 14px;
  font-weight: 400;
}

.link-12 {
  font-size: 12px;
  font-weight: 400;
}

.colors__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 32px;
}
.colors__item {
  width: 100px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  border-radius: 50px 0px 50px 50px;
  font-size: 14px;
  line-height: 1;
}

.dark-800 {
  background: var(--dark-800);
}

.dark-700 {
  background: var(--dark-700);
}

.dark-600 {
  background: var(--dark-600);
}

.dark-500 {
  background: var(--dark-500);
}

.gray-500 {
  background: var(--gray-500);
}

.gray-400 {
  background: var(--gray-400);
}

.gray-300 {
  background: var(--gray-300);
}

.gray-200 {
  background: var(--gray-200);
}

.gray-100 {
  background: var(--gray-100);
}

.blue-color {
  color: var(--dark-700);
  background: var(--blue-color);
}

.purple-color {
  color: var(--dark-700);
  background: var(--purple-color);
}

.green-color {
  color: var(--dark-700);
  background: var(--green-color);
}

.yellow-color {
  color: var(--dark-700);
  background: var(--yellow-color);
}

/* ------------------- COMPONENTS -------------------- */
/* =================== margin */
.m-center {
  margin: 0 auto;
}

/* margin-top */
.mt-0 {
  margin-top: 0px !important;
}

.mt-4 {
  margin-top: 4px !important;
}

.mt-8 {
  margin-top: 8px !important;
}

.mt-16 {
  margin-top: 16px !important;
}

.mt-24 {
  margin-top: 24px !important;
}

.mt-32 {
  margin-top: 32px !important;
}

.mt-48 {
  margin-top: 48px !important;
}

.mt-64 {
  margin-top: 64px !important;
}

/* margin-left */
.ml-0 {
  margin-left: 0px !important;
}

.ml-4 {
  margin-left: 4px !important;
}

.ml-8 {
  margin-left: 8px !important;
}

.ml-16 {
  margin-left: 16px !important;
}

.ml-24 {
  margin-left: 24px !important;
}

.ml-32 {
  margin-left: 32px !important;
}

.ml-48 {
  margin-left: 48px !important;
}

.ml-64 {
  margin-left: 64px !important;
}

/* margin-right */
.mr-0 {
  margin-right: 0px !important;
}

.mr-4 {
  margin-right: 4px !important;
}

.mr-8 {
  margin-right: 8px !important;
}

.mr-16 {
  margin-right: 16px !important;
}

.mr-24 {
  margin-right: 24px !important;
}

.mr-32 {
  margin-right: 32px !important;
}

.mr-48 {
  margin-right: 48px !important;
}

.mr-64 {
  margin-right: 64px !important;
}

/* margin-bottom */
.mb-0 {
  margin-bottom: 0px !important;
}

.mb-4 {
  margin-bottom: 4px !important;
}

.mb-8 {
  margin-bottom: 8px !important;
}

.mb-16 {
  margin-bottom: 16px !important;
}

.mb-24 {
  margin-bottom: 24px !important;
}

.mb-32 {
  margin-bottom: 32px !important;
}

.mb-48 {
  margin-bottom: 48px !important;
}

.mb-64 {
  margin-bottom: 64px !important;
}

/* =================== Padding =================== */
/* padding-all */
.p-0 {
  padding: 0px !important;
}

.p-4 {
  padding: 4px !important;
}

.p-8 {
  padding: 8px !important;
}

.p-16 {
  padding: 16px !important;
}

.p-24 {
  padding: 16px !important;
}

.p-32 {
  padding: 16px !important;
}

.p-48 {
  padding: 16px !important;
}

.p-64 {
  padding: 16px !important;
}

/* padding-top */
.pt-0 {
  padding-top: 0px !important;
}

.pt-4 {
  padding-top: 4px !important;
}

.pt-8 {
  padding-top: 8px !important;
}

.pt-16 {
  padding-top: 16px !important;
}

.pt-24 {
  padding-top: 24px !important;
}

.pt-32 {
  padding-top: 32px !important;
}

.pt-48 {
  padding-top: 48px !important;
}

.pt-64 {
  padding-top: 64px !important;
}

/* padding-left */
.pl-0 {
  padding-left: 0px !important;
}

.pl-4 {
  padding-left: 4px !important;
}

.pl-8 {
  padding-left: 8px !important;
}

.pl-16 {
  padding-left: 16px !important;
}

.pl-24 {
  padding-left: 24px !important;
}

.pl-32 {
  padding-left: 32px !important;
}

.pl-48 {
  padding-left: 48px !important;
}

.pl-64 {
  padding-left: 64px !important;
}

/* padding-right */
.pr-0 {
  padding-right: 0px !important;
}

.pr-4 {
  padding-right: 4px !important;
}

.pr-8 {
  padding-right: 8px !important;
}

.pr-16 {
  padding-right: 16px !important;
}

.pr-24 {
  padding-right: 24px !important;
}

.pr-32 {
  padding-right: 32px !important;
}

.pr-48 {
  padding-right: 48px !important;
}

.pr-64 {
  padding-right: 64px !important;
}

/* padding-bottom */
.pb-0 {
  padding-bottom: 0px !important;
}

.pb-4 {
  padding-bottom: 4px !important;
}

.pb-8 {
  padding-bottom: 8px !important;
}

.pb-16 {
  padding-bottom: 16px !important;
}

.pb-24 {
  padding-bottom: 24px !important;
}

.pb-32 {
  padding-bottom: 32px !important;
}

.pb-48 {
  padding-bottom: 48px !important;
}

.pb-64 {
  padding-bottom: 64px !important;
}

/* ------------------- SECTION SPACES -------------------- */
.section {
  padding: var(--section-padding);
}
.section__heding {
  width: 100%;
  max-width: 1008px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: clamp(1.5rem, 0.591rem + 4.55vw, 4rem);
}
.section__title {
  margin-bottom: 1rem;
}
@media (max-width: 767px) {
  .section__title br {
    display: none;
  }
}
@media (max-width: 600px) {
  .section__title {
    font-weight: 700;
  }
}
.section__descr {
  font-size: clamp(1rem, 0.75rem + 0.67vw, 1.25rem);
}

.btn {
  height: 3.5rem;
  padding: 0 2rem;
  color: #fff;
  background: var(--main-color);
  border: 1.5px solid transparent;
  border-radius: 12px;
  font-family: var(--font-default);
  font-size: 16px;
  font-weight: 600;
  line-height: 1.2;
  text-decoration: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}
.btn:hover {
  opacity: 0.8;
}
.btn.disabled {
  opacity: 0.5;
  cursor: default;
}

.btn-stroke {
  color: var(--main-color);
  background: transparent;
  border-color: var(--main-color);
}

.btns-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.btns-group .btn:not(:last-child) {
  margin-right: 16px;
  margin-bottom: 16px;
}
@media (max-width: 600px) {
  .btns-group {
    display: block;
  }
  .btns-group .btn {
    width: 100%;
  }
}

.ava {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: inline-block;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  overflow: hidden;
}
.ava_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.ava__name {
  width: 100%;
  text-align: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  font-size: 15px;
  font-weight: 600;
}

.ava--light {
  background: var(--gray-100);
}
.ava--light .ava__name {
  color: var(--dark-800);
}

.ava--dark {
  background: var(--dark-800);
}
.ava--dark .ava__name {
  color: #fff;
}

.ava-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slick-dots {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
}

.slick-dots button {
  font-size: 0;
  background: rgba(0, 0, 0, 0.15);
  outline: none;
  border: none;
  border-radius: 50%;
  height: 8px;
  width: 8px;
  margin: 4px;
  outline: none;
}

.slick-dots li[class=slick-active] button {
  background: var(--dark-800);
}

/* ------------------- BLOCKS -------------------- */
.header {
  background-color: #fff;
  padding: 16px 0;
}
@media (max-width: 480px) {
  .header {
    padding: 10px 0;
  }
}
.header__container, .header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 480px) {
  .header__right {
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.header__balance {
  margin-right: 16px;
}

.welcome__title {
  color: var(--dark-800);
}
.welcome__descr {
  font-weight: 400;
  color: var(--gray-500);
}
@media (max-width: 480px) {
  .welcome {
    display: none;
  }
}

.balance {
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 100px;
  overflow: hidden;
}
.balance__field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  background: var(--gray-100);
  padding: 0 12px;
  padding-left: 16px;
  font-size: 14px;
  font-weight: 600;
}
.balance__field .ic-ticket {
  margin-right: 4px;
}
.balance__btn {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40px;
  height: 100%;
  background: var(--dark-800);
  -webkit-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}
.balance__btn:hover {
  background: var(--dark-600);
}
.balance__btn svg {
  width: 18px;
  height: 18px;
  position: relative;
  left: -2px;
}

.ic-ticket {
  width: 20px;
  height: 20px;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
}
.ic-ticket--dark {
  background-image: url("../img/icons/ic-ticket_dark.svg");
}
.ic-ticket--light {
  background-image: url("../img/icons/ic-ticket_light.svg");
}

.user-account {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}
.user-account__ava {
  margin-right: 12px;
}
.user-account__name {
  font-weight: 600;
  line-height: 1;
  margin-bottom: 4px;
}
.user-account__settings {
  font-weight: 400;
  line-height: 1;
  color: var(--gray-500);
}

.footer {
  padding: 32px 0;
  padding-bottom: 24px;
  text-align: center;
  font-size: 14px;
  color: var(--gray-500);
}

/* ------------------- WISH-LIST -------------------- */
.wish-list {
  padding-top: 32px;
}
.wish-list__head {
  margin-bottom: 32px;
}
@media (max-width: 480px) {
  .wish-list__head {
    margin-bottom: 24px;
  }
}
.wish-list__title {
  display: inline-block;
  font-style: normal;
  font-weight: 700;
  font-size: clamp(2rem, 1.333rem + 3.33vw, 4rem);
  line-height: 120%;
}
.wish-list__descr {
  color: var(--gray-500);
}
.wish-list__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
}
@media (max-width: 992px) {
  .wish-list__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0;
  }
}

@media (max-width: 992px) {
  .mob-slider {
    margin: 0 -12px;
  }
  .mob-slider__slide {
    margin: 12px;
  }
}
@media (max-width: 480px) {
  .mob-slider {
    margin: 0 -8px;
  }
  .mob-slider__slide {
    margin: 8px;
  }
}
/* ------------------- CARD-PRIZE -------------------- */
.card-prize {
  height: 270px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  border: 8px ssolid #fff;
  border-radius: 24px;
  padding: 24px;
  overflow: hidden;
  position: relative;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
@media (max-width: 480px) {
  .card-prize .card-prize {
    max-height: 320px;
  }
}
.card-prize__img {
  width: 90%;
  height: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
@media (max-width: 768px) {
  .card-prize__img {
    width: 75%;
    height: 75%;
  }
}
.card-prize__img.is-hidden {
  display: none;
}
.card-prize__img.is-active {
  display: block;
}
.card-prize__video {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.card-prize__video.is-hidden {
  display: none;
}
.card-prize__video.is-active {
  display: block;
}
.card-prize__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  padding: 24px;
  padding-top: 16px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.card-prize__info-head, .card-prize__info-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  -webkit-transition: -webkit-transform 0.25s ease-in-out;
  transition: -webkit-transform 0.25s ease-in-out;
  -o-transition: transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
  -webkit-transform: translateY(-80px);
      -ms-transform: translateY(-80px);
          transform: translateY(-80px);
}
.card-prize__info-name {
  font-size: 18px;
  font-weight: 600;
}
.card-prize__info-ticket {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 1px solid #fff;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}
.card-prize__info-ticket svg {
  margin-right: 2px;
}
.card-prize__info-users {
  display: inline-block;
  position: relative;
}
.card-prize__info-users .ava {
  border: 1px solid #fff;
}
.card-prize__info-users .ava:not(:first-child) {
  margin-left: -18px;
}
.card-prize__info-users .users-number {
  display: inline-block;
  background: var(--dark-800);
  color: #fff;
  padding: 0 8px;
  border-radius: 100px;
  font-size: 12px;
  font-weight: 700;
  position: absolute;
  top: -4px;
  right: -8px;
  z-index: 1;
}
.card-prize__info-footer {
  -webkit-transform: translateY(80px);
      -ms-transform: translateY(80px);
          transform: translateY(80px);
}

.card-prize:hover {
  -webkit-transform: scale(1.02);
      -ms-transform: scale(1.02);
          transform: scale(1.02);
  -webkit-transform: translateY(-10px);
      -ms-transform: translateY(-10px);
          transform: translateY(-10px);
  -webkit-box-shadow: 0px 24px 40px rgba(77, 83, 103, 0.4);
          box-shadow: 0px 24px 40px rgba(77, 83, 103, 0.4);
}
@media (max-width: 1024px) {
  .card-prize:hover {
    -webkit-box-shadow: none;
            box-shadow: none;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
  }
}
.card-prize:hover .card-prize__info, .card-prize:hover .coming-soon {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}
.card-prize:hover .card-prize__info-head, .card-prize:hover .card-prize__info-footer {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}

.card-prize .coming-soon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  padding: 24px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.card-prize .coming-soon__text {
  color: #fff;
  font-size: 32px;
  line-height: 1.2;
  letter-spacing: -0.02em;
  font-weight: 600;
  text-align: center;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
@media (max-width: 1024px) {
  .card-prize .coming-soon__text {
    font-size: 28px;
  }
}
.card-prize:hover .coming-soon__text {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

@media (max-width: 1024px) {
  .card-prize__info,
  .coming-soon {
    background: transparent;
    z-index: 2;
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    padding: 16px;
  }
  .card-prize:hover .card-prize__info,
  .card-prize:hover .coming-soon {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }
  .card-prize__info-head,
  .card-prize__info-footer,
  .coming-soon__text {
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }
  .card-prize__info-head,
  .card-prize__info-footer {
    color: var(--dark-800);
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.5)), to(rgba(255, 255, 255, 0)));
    background: -o-linear-gradient(top, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
  }
  .card-prize__info-name {
    font-size: 16px;
  }
  .card-prize__info-ticket {
    border: 1px solid var(--dark-800);
    color: var(--dark-800);
  }
  .card-prize__info-users .ava {
    width: 48px;
    height: 48px;
  }
}
.drawings {
  padding-top: clamp(2rem, 1.333rem + 3.33vw, 4rem);
}
.drawings__hidden {
  -webkit-animation: fade 0.3s ease-in-out;
          animation: fade 0.3s ease-in-out;
}
.drawings__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
}
@media (max-width: 768px) {
  .drawings__container {
    grid-template-columns: 1fr;
  }
}
.drawings__head {
  margin-bottom: 32px;
}
@media (max-width: 480px) {
  .drawings__head {
    margin-bottom: 24px;
  }
}
.drawings__title {
  display: inline-block;
  font-size: 24px;
  font-weight: 600;
  line-height: 120%;
  color: var(--dark-800);
  margin-bottom: 4px;
}
.drawings__descr {
  color: var(--gray-500);
}
.drawings__item {
  cursor: pointer;
  background: #ffffff;
  border-radius: 16px;
  padding: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform: scale(1.02);
      -ms-transform: scale(1.02);
          transform: scale(1.02);
}
.drawings__item:not(:last-child) {
  margin-bottom: 16px;
}
.drawings__item-img {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 64px;
  height: 64px;
  border: 1px solid rgba(0, 0, 0, 0.14);
  border-radius: 12px;
  margin-right: 16px;
}
.drawings__item-img img {
  width: 48px;
  height: 48px;
}
.drawings__item-info {
  padding-right: 16px;
}
.drawings__item-name {
  color: var(--dark-800);
  font-weight: 500;
  font-size: 18px;
  line-height: 120%;
  margin-bottom: 4px;
}
@media (max-width: 390px) {
  .drawings__item-name {
    font-size: 16px;
  }
}
.drawings__item-descr {
  color: var(--gray-500);
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
}
@media (max-width: 390px) {
  .drawings__item-descr span {
    display: block;
  }
}
.drawings__item-arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 48px;
  height: 48px;
  border: 1px solid rgba(0, 0, 0, 0.14);
  border-radius: 50%;
  position: absolute;
  right: 16px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
@media (max-width: 480px) {
  .drawings__item-arrow {
    width: 40px;
    height: 40px;
  }
}
.drawings__item:hover {
  -webkit-box-shadow: 0px 24px 40px rgba(77, 83, 103, 0.24);
          box-shadow: 0px 24px 40px rgba(77, 83, 103, 0.24);
  -webkit-transform: scale(1.02);
      -ms-transform: scale(1.02);
          transform: scale(1.02);
  -webkit-transform: translateX(10px);
      -ms-transform: translateX(10px);
          transform: translateX(10px);
}
.drawings__item:hover .drawings__item-arrow {
  color: #fff;
  border: 1px solid transparent;
  background-color: var(--dark-800);
}
@media (max-width: 1024px) {
  .drawings .drawings__item:hover {
    -webkit-transform: none !important;
        -ms-transform: none !important;
            transform: none !important;
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
  }
  .drawings .drawings__item:hover .drawings__item-arrow {
    border: 1px solid rgba(0, 0, 0, 0.14);
    background-color: transparent;
  }
  .drawings .drawings__item:hover .drawings__item-arrow svg {
    color: var(--dark-800);
  }
}
.drawings__history {
  position: relative;
}
.drawings__history .drawings__head {
  padding-right: 16px;
}
.drawings__history-more {
  display: inline-block;
  text-decoration: none;
  border: 1px solid #cccccc;
  border-radius: 100px;
  padding: 8px 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.drawings__history-more:hover {
  border: 1px solid transparent;
  color: #fff;
  background-color: var(--dark-800);
}

/* ------------------- PAGES -------------------- */
.privacy {
  padding: 48px 0;
}
.privacy h4 {
  font-size: 20px;
}
.privacy p {
  margin-bottom: 1rem;
}