.drawings {
  padding-top: clamp(2rem, 1.333rem + 3.33vw, 4rem);

  // скрытый блок
  &__hidden {
    animation: fade 0.3s ease-in-out;
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
    }
  }

  // drawings__head
  &__head {
    margin-bottom: 32px;

    @media (max-width: 480px) {
      margin-bottom: 24px;
    }
  }

  &__title {
    display: inline-block;
    font-size: 24px;
    font-weight: 600;
    line-height: 120%;
    color: var(--dark-800);
    margin-bottom: 4px;
  }

  &__descr {
    color: var(--gray-500);
    @media (max-width: 390px) {
      margin-top: 16px;
    }
  }

  // drawings__history
  &__history {
    position: relative;

    .drawings__head {
      padding-right: 16px;
    }

    &-more {
      color: var(--dark-800);
      display: inline-block;
      text-decoration: none;
      border: 1px solid #cccccc;
      border-radius: 100px;
      padding: 8px 16px;
      font-size: 14px;
      font-weight: 500;
      line-height: 1;
      position: absolute;
      top: 0;
      right: 0;
      transition: all 0.25s ease-in-out;
      &:hover {
        border: 1px solid transparent;
        color: #fff;
        background-color: var(--dark-800);
      }
    }
  }
}
